<div class="user-list-box">
    <h1 class="user-list-title">思い出一覧</h1>
</div>

<div class="posts-index">
<% @posts.each do |post| %>
    <div class="posts-index-item">
        <div class="posts-index-image">
            <%= link_to post_path(post) do %>
            <img src="<%= "/user_images/#{post.image_name}" %>" >
            <% end %>
        </div>
        <div class="posts-index-text-box">
            <div class="posts">
                <%= link_to user_path(post.user.id) do %>
                    投稿者:<%= post.user.username %>
                <% end %>
                <h2><%= post.title %></h2>
            </div>
            <div>
                更新日時:<%= post.updated_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
        </div>
    </div>
<% end %>
</div>
